POSTGRES_DB=gophkeeper
POSTGRES_USER=gophkeeper
POSTGRES_PASSWORD=gophkeeper
POSTGRES_PORT=5432

MINIO_ROOT_USER=gophkeeper
MINIO_ROOT_PASSWORD=gophkeeper-minio-password
MINIO_BUCKET=gophkeeper-blobs
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

GOPHKEEPER_DATABASE_DSN=postgres://gophkeeper:gophkeeper@localhost:5432/gophkeeper?sslmode=disable
GOPHKEEPER_ACCESS_TOKEN_SECRET=local-dev-access-token-secret-32-bytes
GOPHKEEPER_GRPC_TLS_CERT_FILE=certs/server.crt
GOPHKEEPER_GRPC_TLS_KEY_FILE=certs/server.key
GOPHKEEPER_BLOB_STORAGE_ENABLED=true
GOPHKEEPER_MINIO_ENDPOINT=localhost:9000
GOPHKEEPER_MINIO_ACCESS_KEY=gophkeeper
GOPHKEEPER_MINIO_SECRET_KEY=gophkeeper-minio-password
GOPHKEEPER_MINIO_BUCKET=gophkeeper-blobs
GOPHKEEPER_MINIO_USE_SSL=false
GOPHKEEPER_MIGRATIONS_ENABLED=true
GOPHKEEPER_MIGRATIONS_DIR=migrations
GOPHKEEPER_LOG_MODE=dev
