POSTGRES_DB=gophkeeper
POSTGRES_USER=gophkeeper
POSTGRES_PASSWORD=gophkeeper
POSTGRES_PORT=5432

MINIO_ROOT_USER=gophkeeper
MINIO_ROOT_PASSWORD=gophkeeper-minio-password
MINIO_BUCKET=gophkeeper-blobs
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

GOPHKEEPER_DATABASE_DSN=postgres://gophkeeper:gophkeeper@localhost:5432/gophkeeper?sslmode=disable
GOPHKEEPER_LOG_MODE=dev
